@page
@model IndexModel
@{
    ViewData["Title"] = "Coming soon page";
}

<div class="text-center">
    <h1 class="display-4">Coming Soon</h1>
    <h3>New Features</h3>
    <h3>New exiting features coming to pulsar</h3>
    <h3>A new a big feature coming in v2 will be community creations. 
        What are community creations? community creations are the pulsar community will create their own cars and will be able to put them on the community 
        creations section and the developers will decide the best 3 cars and there will be a vote posted on pulsar and the car that gets the most votes will 
        be put into the game. (This community creation will happen every 2 months.)
    </h3>

    <h3>Another feature is there will be car customisations to improve some of the car’s abilities. (Will not apply to already fully maxed stat cars)</h3>

</div>

