@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    <div class="card">
        <div class="card-header">
            Packs
        </div>
        <div class="card-body">
            <h5 class="card-title">Get the latest packs now!</h5>
            <p class="card-text">Get more packs</p>
            <a href="#" class="btn btn-primary">PACK STORE</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Vehicle Bidding Mode
        </div>
        <div class="card-body">
            <h5 class="card-title">Get the vehicles you need by bidding for them!</h5>
            
            <a href="#" class="btn btn-primary">Bid NOW!</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Vehicle Database
        </div>
        <div class="card-body">
            <h5 class="card-title">See all the avaiable vehicles</h5>

            <a href="/Vehicles/index" class="btn btn-primary">Let's Take a Look! 👀</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            My Vehicle's
        </div>
        <div class="card-body">
            <h5 class="card-title">See my Vehicle's</h5>
            <p class="card-text">Take a look a the vehicles that you own.</p>
            <a href="#" class="btn btn-primary">Show me my Brums</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Coming Soon!
        </div>
        <div class="card-body">
            <h5 class="card-title">Coming Soon</h5>
            <p class="card-text">Exciting new features coming soon!</p>
            <a href="/news/index" class="btn btn-primary">More Info</a>
        </div>
    </div>
</div>

